@import "./utils/variables", "./utils/animations", "./utils/mixins";
@import "./base/typography", "./base/reset";
@import "./components/btn", "./components/heart", "./components/badge_new",
  "./components/_check_icons";
@import "./pages/resto_page";

// -----------LOADER-----------
.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $shadow-color;
  position: fixed;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader 1.5s;
  animation-fill-mode: both;
  &__circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 17px;
    margin-left: 17px;
    display: inline-block;
    &--1 {
      background-color: $primary-color;
      animation: bounce 1s ease-in-out infinite;
    }
    &--2 {
      background-color: $secondary-color;
      animation: bounce 1s ease-in-out 0.33s infinite;
    }
    &--3 {
      background-color: $tertiary-color;
      animation: bounce 1s ease-in-out 0.66s infinite;
    }
  }
}

// -----------HEADER-----------
.mainheader {
  height: 63px;
  padding: 20px 0px 10px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

// -----------LOCALISATION-----------
.localisation {
  background-color: #eaeaea;
  text-align: center;
  padding: 15px 0 15px 0;
  font-weight: 700;
  box-shadow: inset 0px 2px 5px 0px $shadow-color;
  &__icon {
    color: #353535de;
    margin-left: -26px;
    font-size: 1.2em;
    margin-right: 10px;
  }
  &__text {
    color: #353535de;
    font-size: 1.12em;
    display: inline-block;
  }
}

// -----------EXPLORER-----------
.explorer {
  padding: 40px 30px 55px 30px;
  background-color: #f6f6f6;
  text-align: center;
  &__title {
    font-size: 1.8em;
    margin-bottom: 14px;
    font-weight: bolder;
  }
  &__parag {
    color: #353535de;
    font-size: 1.3em;
    margin-bottom: 30px;
  }
}

// -----------TUTO-----------
.tuto {
  padding: 55px 20px 45px 20px;
  font-weight: bold;
  &__title {
    margin-bottom: 30px;
  }
  &__card {
    height: 75px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #f6f6f6;
    @include shadow;
    border-radius: 20px 20px 20px 20px;
    padding: 0 70px 0 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    &__icon {
      font-size: 1.4em;
      margin-left: -20px;
      margin-right: 25px;
      color: $shadow-color;
    }
    &__number {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: $primary-color;
      display: flex;
      padding-top: 0.4em;
      justify-content: center;
      position: relative;
      left: -42px;
      color: white;
    }
    &__text {
      font-size: 1.14em;
    }
    &:hover {
      background-color: lighten($primary-color, $amount: 35%);
    }
    &:hover :nth-child(2) {
      color: $primary-color;
    }
  }
}

// -----------RESTAURANTS-----------
.restaurants {
  padding: 55px 20px 45px 20px;
  background-color: #f6f6f6;
  &__title {
    margin-bottom: 30px;
  }
  &__card {
    @include shadow;
    position: relative;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    &__img {
      display: block;
      max-height: 175px;
      width: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
    }
    &__txt {
      padding: 15px 15px 15px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__parag {
      font-size: 17px;
      color: #353535de;
      margin-top: 4px;
    }
  }
}

// -----------FOOTER-----------
.footer {
  background-color: #353535;
  padding: 25px;
  &__logo {
    font-size: 1.24em;
    font-weight: 200;
    font-family: "Shrikhand", sans-serif;
    color: white;
    margin-bottom: 15px;
  }
  &__txt {
    font-size: 1.12em;
    color: white;
  }
  &__icons {
    font-size: 0.8em;
    margin-right: 10px;
  }
  &__list {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 750px) {
  .container {
    width: 75%;
    margin: auto;
  }
  h2 {
    width: 75%;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .pr_main {
    &__header {
      &__title {
        font-size: 2.2em;
        margin-left: 3%;
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    &__card {
      width: 49%;
      margin: 20px;
    }
    .restaurants {
      &__card {
        height: 340px;
        margin-bottom: 40px;
        &__img {
          max-height: 260px;
        }
      }
    }
  }

  h2,
  .footer__logo {
    width: 100%;
    margin: 0;
  }

  .dishes {
    width: 25%;
  }

  .pr_main {
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 80%;
    margin: auto;
  }

  h2 {
    text-align: center;
  }
}
