@-webkit-keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes loader {
  0% {
    background-color: #c4c3c0;
  }
  20% {
    background-color: rgba(196, 195, 192, 0.8);
  }
  40% {
    background-color: rgba(196, 195, 192, 0.6);
  }
  60% {
    background-color: rgba(196, 195, 192, 0.4);
  }
  80% {
    background-color: rgba(196, 195, 192, 0.2);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.2);
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    background-color: #c4c3c0;
  }
  20% {
    background-color: rgba(196, 195, 192, 0.8);
  }
  40% {
    background-color: rgba(196, 195, 192, 0.6);
  }
  60% {
    background-color: rgba(196, 195, 192, 0.4);
  }
  80% {
    background-color: rgba(196, 195, 192, 0.2);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.2);
    visibility: hidden;
  }
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

* {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  color: white;
  border-radius: 30px;
  -webkit-box-shadow: 2px 5px 5px 0px #c4c3c0;
          box-shadow: 2px 5px 5px 0px #c4c3c0;
  padding: 15px 20px;
  font-weight: bold;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  opacity: 1;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
  -webkit-box-shadow: 2px 5px 5px 0px #86847e;
          box-shadow: 2px 5px 5px 0px #86847e;
}

.heart {
  font-size: 20px;
  color: grey;
}

.heart:hover {
  -webkit-animation: fill 1s ease-out;
          animation: fill 1s ease-out;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes loader {
  0% {
    background-color: #c4c3c0;
  }
  20% {
    background-color: rgba(196, 195, 192, 0.8);
  }
  40% {
    background-color: rgba(196, 195, 192, 0.6);
  }
  60% {
    background-color: rgba(196, 195, 192, 0.4);
  }
  80% {
    background-color: rgba(196, 195, 192, 0.2);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.2);
    visibility: hidden;
  }
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

* {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  color: white;
  border-radius: 30px;
  -webkit-box-shadow: 2px 5px 5px 0px #c4c3c0;
          box-shadow: 2px 5px 5px 0px #c4c3c0;
  padding: 15px 20px;
  font-weight: bold;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  opacity: 1;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
  -webkit-box-shadow: 2px 5px 5px 0px #86847e;
          box-shadow: 2px 5px 5px 0px #86847e;
}

.heart {
  font-size: 20px;
  color: grey;
}

.heart:hover {
  -webkit-animation: fill 1s ease-out;
          animation: fill 1s ease-out;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.pr_header {
  padding: 20px 25px 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pr_header__logo {
  margin: auto;
}

.pr_header__back {
  font-size: 20px;
}

.pr_img {
  max-height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pr_main {
  margin-top: -30px;
  position: relative;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  padding: 35px 15px 80px 15px;
}

.pr_main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.pr_main__header__title {
  font-family: "Shrikhand", sans-serif;
}

.dishes {
  padding-bottom: 40px;
}

.dishes__header {
  margin-bottom: 25px;
}

.dishes__header ::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  -webkit-animation: progress 2s;
          animation: progress 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.dishes__card {
  height: 70px;
  width: 100%;
  padding-left: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.57, -0.3, 0.36, 1.2);
          animation-timing-function: cubic-bezier(0.57, -0.3, 0.36, 1.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.dishes__card__txt {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishes__card__txt--over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishes__card__price {
  margin-left: 10px;
}

.dishes__card__check {
  height: 70px;
  width: 60px;
  opacity: 0;
  background-color: #99e2d0;
  margin-left: 25px;
  margin-right: -70px;
  border-radius: 0 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.dishes__card:hover :nth-child(3) {
  opacity: 1;
  margin-right: 0px;
}

.dishes__card:hover .check_icons {
  opacity: 1;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c4c3c0;
  position: fixed;
  z-index: 1;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loader 3s;
          animation: loader 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loader__circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 17px;
  margin-left: 17px;
  display: inline-block;
}

.loader__circle--1 {
  background-color: #9356dc;
  -webkit-animation: bounce 1s ease-in-out infinite;
          animation: bounce 1s ease-in-out infinite;
}

.loader__circle--2 {
  background-color: #ff79da;
  -webkit-animation: bounce 1s ease-in-out 0.33s infinite;
          animation: bounce 1s ease-in-out 0.33s infinite;
}

.loader__circle--3 {
  background-color: #99e2d0;
  -webkit-animation: bounce 1s ease-in-out 0.66s infinite;
          animation: bounce 1s ease-in-out 0.66s infinite;
}

.mainheader {
  height: 63px;
  padding: 20px 0px 10px 0px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation {
  background-color: #eaeaea;
  text-align: center;
  padding: 15px 0 15px 0;
  font-weight: 700;
  -webkit-box-shadow: inset 0px 2px 5px 0px #c4c3c0;
          box-shadow: inset 0px 2px 5px 0px #c4c3c0;
}

.localisation__icon {
  margin-right: 15px;
}

.localisation__text {
  display: inline-block;
}

.explorer {
  padding: 40px 30px 55px 30px;
  background-color: #f6f6f6;
  text-align: center;
}

.explorer__title {
  margin-bottom: 20px;
  font-weight: bolder;
}

.explorer__parag {
  margin-bottom: 30px;
}

.tuto {
  padding: 55px 20px 45px 20px;
  font-weight: bold;
}

.tuto__title {
  margin-bottom: 30px;
}

.tuto__card {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  -webkit-box-shadow: 2px 5px 5px 0px #c4c3c0;
          box-shadow: 2px 5px 5px 0px #c4c3c0;
  border-radius: 20px 20px 20px 20px;
  padding: 0 70px 0 30px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.tuto__card__icon {
  margin-right: 15px;
  color: #c4c3c0;
}

.tuto__card__number {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: -42px;
  color: white;
}

.tuto__card:hover {
  background-color: #f2eafb;
}

.tuto__card:hover :nth-child(2) {
  color: #9356dc;
}

.restaurants {
  padding: 55px 20px 45px 20px;
  background-color: #f6f6f6;
}

.restaurants__title {
  margin-bottom: 30px;
}

.restaurants__card {
  -webkit-box-shadow: 2px 5px 5px 0px #c4c3c0;
          box-shadow: 2px 5px 5px 0px #c4c3c0;
  position: relative;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.restaurants__card__img {
  display: block;
  max-height: 175px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__card__txt {
  padding: 20px 15px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  background-color: #353535;
  padding: 25px;
}

.footer__logo {
  font-size: 2em;
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.footer__txt {
  color: white;
}

.footer__icons {
  margin-right: 10px;
}

.footer__list {
  margin-bottom: 10px;
}
