// Animation pour les cercles du loader
@keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

//  Animation de disparition du loader
@keyframes loader {
  0% {
    background-color: rgba(196, 195, 192, 0.95);
  }
  10% {
    background-color: rgba(196, 195, 192, 0.9);
  }
  20% {
    background-color: rgba(196, 195, 192, 0.8);
  }
  30% {
    background-color: rgba(196, 195, 192, 0.7);
  }
  40% {
    background-color: rgba(196, 195, 192, 0.6);
  }
  50% {
    background-color: rgba(196, 195, 192, 0.5);
  }
  60% {
    background-color: rgba(196, 195, 192, 0.4);
  }
  70% {
    background-color: rgba(196, 195, 192, 0.3);
  }
  80% {
    background-color: rgba(196, 195, 192, 0.2);
  }
  90% {
    background-color: rgba(196, 195, 192, 0.1);
  }
  100% {
    background-color: rgba(196, 195, 192, 0);
    visibility: hidden;
  }
}

// Animation pour le remplissage du coeur
@keyframes fill {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Animation d'apparition des "cards" pour les menus
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

// Animation pour le soulignage "entrées, plats, desserts"
@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
